<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <!---<title> Responsive Registration Form | CodingLab </title>--->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/style.css}" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style>

  .loginError{
    font-size:12px;
    color:red;

  }
  .alert{
    background-color:green;
    color:white;
    padding:20px 10px;
    text-align:center;
    border-radius:10px;

  }
  </style>
</head>
<body>
<div class="container">
<!--   -->
  <div th:if="${success}" class="alert">
    User Successfully Registered!
  </div>
  <div class="title">Registration</div>
  <div class="content">
    <form
            id="myForm"
            th:action="@{/register}"
            method="post"
            novalidate
    >
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input
                  type="text"
                  placeholder="Enter your name"
                  id="fullname"
                  name="fullName"
                  required
          />
          <label
                  for="fullname"
                  id="efullname"
                  class="field_validation"
          ></label>
        </div>
        <div class="input-box">
          <span class="details">Username</span>
          <input
                  type="text"
                  placeholder="Enter your username"
                  id="username"
                  name="username"
                  required
          />
          <label
                  for="fullname"
                  id="eusername"
                  class="field_validation"
          ></label>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input
                  type="text"
                  placeholder="Enter your email"
                  id="email"
                  name="email"
                  required
          />
          <label
                  for="fullname"
                  id="eemail"
                  class="field_validation"
          ></label>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input
                  type="text"
                  placeholder="Enter your number"
                  id="phoneNumber"
                  name="phoneNo"
                  required
          />
          <label
                  for="fullname"
                  id="ephoneNumber"
                  class="field_validation"
          ></label>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input
                  type="text"
                  placeholder="Enter your password"
                  id="password"
                  name="password"
                  required
          />
          <label
                  for="password"
                  id="epassword"
                  class="field_validation"
          ></label>
          <label
                  for="password"
                  id="epassword_Upper_Lower_Case"
                  class="field_validation"
          ></label>
          <label
                  for="password"
                  id="epassword_char_length"
                  class="field_validation"
          ></label>
          <label
                  for="password"
                  id="epassword_special_char"
                  class="field_validation"
          ></label>
          <label
                  for="password"
                  id="epassword_num"
                  class="field_validation"
          ></label>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input
                  type="text"
                  placeholder="Confirm your password"
                  id="cPassword"
                  required
          />
          <label
                  for="fullname"
                  id="ecPassword"
                  class="field_validation"
          ></label>
        </div>
      </div>
      <div class="g-recaptcha" data-sitekey="6LdcOi4lAAAAAInWSQP8-DmPdCEVAtR4V0XT4ms8"></div>
      <div th:if="${captchaError}" class="loginError">* Please Validate Captcha</div>
      <!--      <div class="g-recaptcha" data-sitekey="6LfZVyglAAAAAOQVWRApQk8SG_VGhIfVToOgEPot"></div>-->
      <div class="button">
        <input type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>

<script th:src="@{/main.js}"></script>
</body>
</html>
